@{
    ViewData["Title"] = "Inicio - HospitalMS";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido a HospitalMS</h1>
    <p>Administra de forma eficiente tus citas, especialidades, facturación, médicos, pacientes y tratamientos. Explora todas las funcionalidades diseñadas para optimizar la gestión hospitalaria.</p>
    <p>
        Conoce más sobre nuestras
        <a href="~/Citas">citas</a>,
        <a href="~/Especialidades">especialidades</a> y
        <a href="~/Facturacion">facturación</a>.
    </p>
</div>
